/*responsive element base*/
@media only screen and (max-width:420px)
{
    .flex_container3{display: flex;
        justify-content: space-between;
        text-align: center;
    }

    .flex_container3 p{
        text-align: left;
        padding-left: 30px;
        padding-right: 30px; 
    }

    .flex_container2{display: none;
        justify-content: space-between;
        text-align: center;
    }

    .flex_container2 p{
        text-align: left;
        padding-left: 30px;
        padding-right: 30px;
    }

    .flex_container_yhteystiedot{display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        text-align: center;
        p {
           text-align: left;
           padding-left: 30px;
           padding-right: 30px;
       }

}

    #mobile_luukas {display: block;}
    #mobile_luukas_p{display: block;}

    #topbar {
        position: sticky;
        top: 0;
        text-align: center;
        overflow: hidden;
        background-color: #D4A017;
    }

    #banner_filler{
        width: 100%;
        height: auto;
        display: none;
    }

    #banner_mobile{
        width: 100%;
        height: auto;
        display: block;
    }

    #leo_filler {
        width: 300px;
        height: auto;
    }

    #luukas_filler {
        width: 300px;
        height: auto;
    }

    .main_container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        background-color: #333333;
    }
}

/*responsive element base*/
@media only screen and (min-width:421px)
{
    .flex_container{display: flex;
                    justify-content: space-between;
                    text-align: center;
                    padding-bottom: 30px;
    }

    .flex_container p{
        text-align: left;
        padding-left: 30px;
        padding-right: 30px;
    }

    .flex_container2{display: flex;
                     justify-content: space-between;
                     text-align: center;
    }

    .flex_container2 p{
        text-align: left;
        padding-left: 30px;
        padding-right: 30px;
    }

    .flex_container3{display: none;
                     justify-content: space-between;
                     text-align: center;
    }

    .flex_container3{
        text-align: left;
        padding-left: 30px;
        padding-right: 30px;
    }

    .flex_container_yhteystiedot{display: flex;
                                 justify-content: space-between;
                                 text-align: center;
                        
    }

    .flex_container_yhteystiedot p{
        text-align: left;
        padding-left: 30px;
        padding-right: 30px;
    }

    #mobile_luukas {display: none;}
    #mobile_luukas_p{display: none;}

    #topbar {
        position: sticky;
        top: 0;
        text-align: center;
        overflow: hidden;
        background-color: #D4A017;
    }

    #banner_filler{
        width: 100%;
        height: auto;
        display: block;
    }

    #banner_mobile{
        width: 100%;
        height: auto;
        display: none;
    }

    #leo_filler {
        width: 300px;
        height: auto;
    }

    #luukas_filler {
        width: 300px;
        height: auto;
    }

    .main_container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        background-color: #333333;
    }
}
              
/*responsive element base*/
@media only screen and (min-width:1024px)
{

    .flex_container3{display: none;
        justify-content: space-between;
        text-align: center;
    }

    .flex_container3{
        text-align: left;
        padding-left: 30px;
        padding-right: 30px;
    }

    .flex_container_yhteystiedot{display: flex;
        justify-content: space-between;
        text-align: center;
    }

    .flex_container_yhteystiedot p{
        text-align: left;
        padding-left: 30px;
        padding-right: 30px;
    }

    #mobile_luukas {display: none;}
    #mobile_luukas_p{display: none;}


    #topbar {
        position: sticky;
        top: 0;
        text-align: center;
        overflow: hidden;
        background-color: #D4A017;
    }

    #banner_filler{
        width: 100%;
        height: auto;
        display: block;
    }

    #banner_mobile{
        width: 100%;
        height: auto;
        display: none;
    }

    #leo_filler {
        width: 300px;
        height: auto;
    }

    #luukas_filler {
        width: 300px;
        height: auto;
    }

    .main_container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        background-color: #333333;
    }

}

#topbar a {
    font-size: 1.5em;
    display: inline-block;
    color: rgb(0, 0, 0);
    padding: 14px;
    text-decoration: none;
}

#topbar a:hover {
    text-decoration: underline;
}

#bottom_bar {
    display: block;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-decoration: none;
    background-color: #D4A017;
    overflow: hidden;
}

#bottom_bar h2{
    color: black;
}

#bottom_bar p {
    color: black;
}


body {
    background-color: #333333;
}


h1 {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 2em;
    color: #D4A017;
}


a {
    color: #251010;
    font-size: 0.82em;
    display: block;
    text-align: center;
    color: #FFFFFF;
}

h2 {
    font-size: 1.15em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #D4A017;
}

h4 {
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
}

h6 {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 2em;
    color: #FFFFFF;
}

li {
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
}

p {
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
}